interactions:
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="102142406720401459881503186883", oauth_timestamp="1503186883",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="qxlKi6AZS0EdcoEyWjnnit7of",
          oauth_token="17431810-30g33zIPuEmZtvIPUjnuFzkD1osSnV33O1iE9Ll3o", oauth_signature="QtMLY%2BU2pp2HsJyYjfQI28In3B8%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?id=cnn
  response:
    body: {string: '[{"created_at":"Sat Aug 19 23:32:34 +0000 2017","id":899051492740661249,"id_str":"899051492740661249","text":"These
        tree-planting drones are taking to the skies to fight deforestation https:\/\/t.co\/flon19tS2s
        https:\/\/t.co\/kmQGUEJxsb","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/flon19tS2s","expanded_url":"http:\/\/cnn.it\/2uEpJ9r","display_url":"cnn.it\/2uEpJ9r","indices":[74,97]}],"media":[{"id":899051112111771649,"id_str":"899051112111771649","indices":[98,121],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/899051112111771649\/pu\/img\/x9rDGXGRfCdaCzfM.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/899051112111771649\/pu\/img\/x9rDGXGRfCdaCzfM.jpg","url":"https:\/\/t.co\/kmQGUEJxsb","display_url":"pic.twitter.com\/kmQGUEJxsb","expanded_url":"https:\/\/twitter.com\/CNN\/status\/899051492740661249\/video\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":720,"h":720,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":899051112111771649,"id_str":"899051112111771649","indices":[98,121],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/899051112111771649\/pu\/img\/x9rDGXGRfCdaCzfM.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/899051112111771649\/pu\/img\/x9rDGXGRfCdaCzfM.jpg","url":"https:\/\/t.co\/kmQGUEJxsb","display_url":"pic.twitter.com\/kmQGUEJxsb","expanded_url":"https:\/\/twitter.com\/CNN\/status\/899051492740661249\/video\/1","type":"video","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":720,"h":720,"resize":"fit"}},"video_info":{"aspect_ratio":[1,1],"duration_millis":83917,"variants":[{"bitrate":1280000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/899051112111771649\/pu\/vid\/720x720\/rX4gF3Gq4cOyE25j.mp4"},{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/899051112111771649\/pu\/vid\/480x480\/6XQZrWwTYf0uBN51.mp4"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/899051112111771649\/pu\/pl\/lvefBrQpgtPHbrh4.m3u8"},{"bitrate":320000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/899051112111771649\/pu\/vid\/240x240\/-KMcSO6GI746SKdA.mp4"}]},"additional_media_info":{"monetizable":false}}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":759251,"id_str":"759251","name":"CNN","screen_name":"CNN","location":"","description":"It\u2019s
        our job to #GoThere & tell the most difficult stories. Join us! For more breaking
        news updates follow @CNNBRK  & Download our app \ud83d\udcf2https:\/\/t.co\/Xgo5kjIt8c","url":"http:\/\/t.co\/IaghNW8Xm2","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IaghNW8Xm2","expanded_url":"http:\/\/www.cnn.com","display_url":"cnn.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/Xgo5kjIt8c","expanded_url":"http:\/\/cnn.it\/apps","display_url":"cnn.it\/apps","indices":[136,159]}]}},"protected":false,"followers_count":37151721,"friends_count":1117,"listed_count":126983,"created_at":"Fri
        Feb 09 00:35:02 +0000 2007","favourites_count":1472,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":144872,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"323232","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/515228058286952449\/zVfUxqPl.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/515228058286952449\/zVfUxqPl.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/508960761826131968\/LnvhR8ED_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/508960761826131968\/LnvhR8ED_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/759251\/1497965895","profile_link_color":"004287","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":234,"favorite_count":452,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Aug 19 23:01:02 +0000 2017","id":899043560615489536,"id_str":"899043560615489536","text":"Can
        you really go blind staring at an eclipse? Turns out it''s possible, so here
        are some tips to protect your eyes\u2026 https:\/\/t.co\/cZsGdHzjAX","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/cZsGdHzjAX","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/899043560615489536","dis[...]
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="65956508969419196591503186884", oauth_timestamp="1503186884",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="qxlKi6AZS0EdcoEyWjnnit7of",
          oauth_token="17431810-30g33zIPuEmZtvIPUjnuFzkD1osSnV33O1iE9Ll3o", oauth_signature="NTqEg1o2S4Xb12uVPCRzEDVYPbA%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?id=cnn&max_id=898991537568321535
  response:
    body: {string: '[{"created_at":"Sat Aug 19 19:16:30 +0000 2017","id":898987052469030913,"id_str":"898987052469030913","text":"Steve
        Bannon: \"The Trump presidency that we fought for, and won, is over\" https:\/\/t.co\/WnqYeIZ2rf
        https:\/\/t.co\/JiXivoZLPQ","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/WnqYeIZ2rf","expanded_url":"http:\/\/cnn.it\/2x195yj","display_url":"cnn.it\/2x195yj","indices":[74,97]}],"media":[{"id":898987049172303872,"id_str":"898987049172303872","indices":[98,121],"media_url":"http:\/\/pbs.twimg.com\/media\/DHnX9UuXgAAcMvl.jpg","media_url_h[...]
[...]
