interactions:
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="142536291757230880921503282193", oauth_timestamp="1503282193",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="qxlKi6AZS0EdcoEyWjnnit7of",
          oauth_token="17431810-30g33zIPuEmZtvIPUjnuFzkD1osSnV33O1iE9Ll3o", oauth_signature="DHDRsi8pN%2F%2BFlqQF6bhh%2FmN5byU%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?id=nytimes
  response:
    body: {string: '[{"created_at":"Mon Aug 21 02:22:49 +0000 2017","id":899456728730927104,"id_str":"899456728730927104","text":"RT
        @maggieNYT: Bannon was set for a relatively smooth exit. Then Charlottesville
        happened. w @jwpetersNYT https:\/\/t.co\/V7AciakOA8","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"maggieNYT","name":"Maggie
        Haberman","id":93069110,"id_str":"93069110","indices":[3,13]},{"screen_name":"jwpetersNYT","name":"Jeremy
        W. Peters","id":163598915,"id_str":"163598915","indices":[93,105]}],"urls":[{"url":"https:\/\/t.co\/V7AciakOA8","expanded_url":"https:\/\/www.nytimes.com\/2017\/08\/20\/us\/politics\/steve-bannon-fired-trump-departure.html","display_url":"nytimes.com\/2017\/08\/20\/us\/\u2026","indices":[106,129]}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":807095,"id_str":"807095","name":"The
        New York Times","screen_name":"nytimes","location":"New York City","description":"Where
        the conversation begins. Follow for breaking news, special reports, RTs of
        our journalists and more from https:\/\/t.co\/YapuoqX0HS.","url":"http:\/\/t.co\/ahvuWqicF9","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ahvuWqicF9","expanded_url":"http:\/\/www.nytimes.com\/","display_url":"nytimes.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/YapuoqX0HS","expanded_url":"http:\/\/NYTimes.com","display_url":"NYTimes.com","indices":[111,134]}]}},"protected":false,"followers_count":39077182,"friends_count":883,"listed_count":190008,"created_at":"Fri
        Mar 02 20:41:42 +0000 2007","favourites_count":15287,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":288796,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/897107944474460165\/YgwPfNUU_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/897107944474460165\/YgwPfNUU_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/807095\/1502722257","profile_link_color":"607696","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Aug 21 00:36:21 +0000 2017","id":899429932589297665,"id_str":"899429932589297665","text":"Bannon
        was set for a relatively smooth exit. Then Charlottesville happened. w @jwpetersNYT
        https:\/\/t.co\/V7AciakOA8","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"jwpetersNYT","name":"Jeremy
        W. Peters","id":163598915,"id_str":"163598915","indices":[78,90]}],"urls":[{"url":"https:\/\/t.co\/V7AciakOA8","expanded_url":"https:\/\/www.nytimes.com\/2017\/08\/20\/us\/politics\/steve-bannon-fired-trump-departure.html","display_url":"nytimes.com\/2017\/08\/20\/us\/\u2026","indices":[91,114]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com[...]
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="85987896814195868731503282193", oauth_timestamp="1503282193",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="qxlKi6AZS0EdcoEyWjnnit7of",
          oauth_token="17431810-30g33zIPuEmZtvIPUjnuFzkD1osSnV33O1iE9Ll3o", oauth_signature="%2BKRk8R0x7EL8jtPyqf3w9VFrucI%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?id=nytimes&max_id=89939943064179[...]
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="176951122451641695421503282194", oauth_timestamp="1503282194",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="qxlKi6AZS0EdcoEyWjnnit7of",
          oauth_token="17431810-30g33zIPuEmZtvIPUjnuFzkD1osSnV33O1iE9Ll3o", oauth_signature="%2BZDkwuavuAHawEXjeVNOzyCpHg0%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?id=nytimes&max_id=899336631236390911
  response:
    body: {string: '[{"created_at":"Sun Aug 20 18:14:33 +0000 2017","id":899333849930444801,"id_str":"899333849930444801","text":"Breaking
        News: Jerry Lewis has died. The comedian and filmmaker was a defining figure
        of American entertainment. https:\/\/t.co\/JWJfuL1eJL","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/JWJfuL1eJL","expanded_url":"http:\/\/nyti.ms\/2v4fKGw","display_url":"nyti.ms\/2v4fKGw","indices":[113,136]}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_r[...]
[...]
